@import '../../styles/main.scss';
.header-container{
    @include flex-justify(space-between);
    height:$px30;
    background-color: rgb(150, 168, 248);
    padding: $px10;

    &__nav{
        a{
            cursor: pointer;
            margin-left: $px20;
            padding: $px7;
            font-size:$text-sm;
            border-radius: 50%;
        }
        a:hover{
            background-color: rgb(255, 255, 255);
            color:rgb(150, 168, 248);
        }
    }
}
.active-nav{
    position: relative;
    background-color: rgb(255, 255, 255);
    color:rgb(150, 168, 248);
}
